___This notebook is created and owned by @CodesBay 
 The tutorial for this notebook is present in the Youtube channel https://youtube.com/CodesBay 
@  https://youtu.be/WFqaeeVM67s  ___

# Interrogating Data With Python Pandas

## Let's look into the Pandas DataFrame First

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

In [ ]:
my_dict

In [ ]:
df = pd.DataFrame(my_dict)

In [ ]:
df = pd.DataFrame(my_dict, index=[10,20,30,40,50,60,70])

In [ ]:
# Index as string
df = pd.DataFrame(my_dict, index=["First", "Second", "Third", "Fourth", "Fifth", "Sixth", "Seventh"])

In [ ]:
np_arr = np.arange(0, 35, 5)
df = pd.DataFrame(my_dict, index=np_arr)

## Adding a new column in the Data Frame

In [32]:
df['new_col'] = [1,2,3,4,5,6,7]

In [33]:
np_arr = np.ones(7)
df['new second_col'] = np_arr

### Each column of a Pandas DataFrame is of the same data type

In [ ]:
df['age'].dtype

In [ ]:
df.age.dtype

In [ ]:
df.name.dtype

In [ ]:
df.new_col.dtype
df['new second_col'].dtype

In [ ]:
df.dtypes

### Extracting the Data from the DataFrame

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(2)

In [ ]:
df.head(7)

In [ ]:
df.tail(7)

In [ ]:
df.index, df.index.shape

In [ ]:
df.columns, df.columns.shape

## Fetching Selective Data

In [ ]:
df.designation.unique()

In [ ]:
df.age.mean()

## Using an existing Column as Row Index

In [34]:
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

df = pd.DataFrame(my_dict)

In [ ]:
df.set_index("name")

In [ ]:
df.set_index("age")

In [ ]:
df.set_index(["name","age"])

### Loading selective columns in DataFrame

In [ ]:
# Not including Designation
df = pd.DataFrame(my_dict, columns=["name", "age"])

### Deleting Rows and Columns from DataFrame

In [ ]:
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

df = pd.DataFrame(my_dict)

In [35]:
# Deleteing by specifying the Column Name
del df['name']

In [ ]:
# Regenerate the DataFrame
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

df = pd.DataFrame(my_dict)

In [ ]:
# Delete using .drop(...) function
df.drop('age',1)

In [ ]:
df.drop(3,0)

In [ ]:
# Regenerate the DataFrame
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

df = pd.DataFrame(my_dict)

In [ ]:
df.drop(['name','age'],1)

In [ ]:
df.drop([2,3,4],0)

### Deleting the Columns using the Index

In [ ]:
# Regenerate the DataFrame
my_dict = { 'name' : ["a", "b", "c", "d", "e","f", "g"],
                   'age' : [20,27, 35, 55, 18, 21, 35],
                   'designation': ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}

df = pd.DataFrame(my_dict, index=["1st", "2nd", "3rd", "4th", "5th", "6th", "7th"])

In [ ]:
df.drop(df.columns[[0,1]],1)

### Generating a DataFrame from a list

In [ ]:
my_list = [[1,2,3,4],
           [5,6,7,8],
           [9,10,11,12],
           [13,14,15,16],
           [17,18,19,20]]

df = pd.DataFrame(my_list)

In [ ]:
df = pd.DataFrame(my_list, index = ["1->", "2->", "3->", "4->", "5->"], columns = ["A", "B", "C", "D"])

In [ ]:
np_arr = np.array([[1,2,3,4],
                   [5,6,7,8],
                   [9,10,11,12],
                   [13,15,16,16],
                   [17,18,19,20]])

df = pd.DataFrame(np_arr)

### It's Easy to do Mathematical Operations in DataFrames

In [ ]:
df * df

In [ ]:
newdf = df * 10
newdf

In [ ]:
df + 100

In [ ]:
df & 0

## What is a Series?

___A series in a single column of a DataFrame, more than one series combines to form a DataFrame___